<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimeiroApp">
        <activity
            android:name=".view.CadastroLoginActivity"
            android:label="@string/titleCadastroLogin"
            android:parentActivityName=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.UpdateActivity"
            android:exported="false"
            android:label="@string/titleUpdateScreen"
            android:parentActivityName=".view.MenuActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.DeletarActivity"
            android:exported="false"
            android:label="@string/buttonDeletar"
            android:parentActivityName=".view.MenuActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.ProdutosActivity"
            android:exported="false"
            android:label="@string/appBarTitleProdutos"
            android:parentActivityName=".view.MenuActivity" />
        <activity
            android:name=".view.CadastrarProdutoActivity"
            android:exported="false"
            android:label="@string/appBarTitleCadastro"
            android:parentActivityName=".view.MenuActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>